{% extends 'base.html' %}

{% block title %} База уязвимостей {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row g-3 mt-1">
            <div id="left-bar-bdu" class="col-md-3 col-sm-12 col-12 order-md-1 order-2 bg-secondary" >
                <h3>Фильтрация</h3>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'cve_search' %}" method="get">
                    <input name="q" type="search" placeholder="Search..." class="form-control" aria-label="Search">
                </form>
            </div>
            <div id="content-bdu" class="col-md-8 col-sm-12 col-12 order-md-2 order-1">
                <table class="table table-striped">
                    <tbody>
                        {% for cve in object_list %}
                        <tr>
                            <td><h4><a href="{{cve.id}}">{{ cve.identifier }}</a></h4></td>
                            <td><p>{{ cve.name }}</p></td>
                            <td>{{ cve.identify_date|date:"d.m.Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator.html' %}
            </div>
        </div>
    {% else %}

    {% endif %}
{% endblock %}
