{% extends 'base.html' %}
{% load static %}

{% block title %} База уязвимостей {% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Перечень уязвимостей</li>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row g-3 mt-1">
            <h4 style="text-align: center;">
                <strong class="fw-bold"> Перечень уязвимостей из БД ФСТЭК России</strong>
            </h4>

            <div id="left-bar-bdu" class="col-md-3 col-sm-12 col-12 order-md-1 order-2 bg-secondary text-light" >
                <h4 style="text-align: center;">  Фильтрация</h4>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'cve_search' %}" method="get">
                    <div class="mb-3" name="ID CVE">
                        <label for="search">Поиск по ID уязвимости</label>
                        <input name="q1" class="form-control" type="search" placeholder="Введите ID уязвимости" aria-label="Search" id="search">
                    </div>
                    <div class="mb-3" name="Тип ПО">
                        <label for="search">Тип ПО</label>
                        <select name="q2" class="form-select" data-width="100%" type="search" id="js-select2-type-soft">
                            <option label="Выберите тип ПО"></option>
                            {% for soft in soft_type %}
                                <option value='{{ soft}}'>{{ soft}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" name="ПО">
                        <label for="search">Программное обеспечение</label>
                        <select name="q3" class="form-select" data-width="100%" type="search" id="js-select2-name">
                            <option label="Выберите наименование ПО"></option>
                        </select>
                    </div>
                    <div class="mb-3" name="Версия ПО">
                        <label for="search">Версия ПО</label>
                        <select name="q4" class="form-select" data-width="100%" type="search" id="js-select2-version">
                            <option label="Выберите версию ПО"></option>
                        </select>
                    </div>
                    <div class="mb-3" name="Уровень опасности">
                        <label for="search">Уровень опасности</label>
                        <select name="q5" class="form-select" data-width="100%" type="search" id="js-select2-severrety">
                            <option label="Выберите уровень опасности"></option>
                            {% for level in severity %}
                                <option value='{{level}}'>{{level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" name="Год УЯ">
                        <label for="search">Год добавления</label>
                        <select name="q6" class="form-select" data-width="100%" type="search" id="js-select2-year">
                            <option label="Выберите год добавления УЯ"></option>
                            {% for level in year_cve %}
                                <option value='{{level}}'>{{level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" name="Фильтрация">
                        <input name="fl" type="submit" class="btn btn-outline-light me-2" value="Применить">
                    </div>
                </form>
            </div>
            <div id="content-bdu" class="col-md-8 col-sm-12 col-12 order-md-2 order-1">
                <table class="table table-striped" >
                    <tbody>
                        {% for cve in object_list %}
                        <tr>
                            <td><a href="{{cve.id}}">{{ cve.identifier }}</a></td>
                            <td><p>{{ cve.name }}</p></td>
                            <td>{{ cve.identify_date|date:"d.m.Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator2.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
