{% extends 'base.html' %}
{% load static %}

{% block title %} Перечень бюлетеней {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Поиск бюлетеней</li>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

    <h4 style="text-align: center;"> Поиск бюлетеней</h4>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'vul_list' %}" method="get">
        <div class="input-group" name="ID CVE">
            <input name="q1" class="form-control" type="search" placeholder="Введите запрос" aria-label="Search" id="search">
            <input name="fl" type="submit" class="btn btn-outline-dark me-2" value="Поиск">
        </div>
    </form>
        <div class="row g-3 mt-1 mb-1"> </div>

        <div class="row g-3 mt-1 mb-1">
            <div id="content-bdu" class="col-md-auto col-sm-12 col-12 order-md-2 order-1">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            {%if vul_total > 0 %}
                                Всего в БД по данному запросу: {{vul_total}} <br>
                                Загружено в приложение: {{vul}}
                            {% else %}
                                По данному запросу ничего не найденно.
                            {% endif %}
                        </tr>
                        {% for hit, ind in page_obj_all %}
                        <tr>
                            <td><a href="{% url 'hit_detail' ind %}"> {{hit.id}} </a></td>
                            <td>{{ind}}</td>
                            <td>{{hit.description}}</td>
                            <td>{{hit.type}}</td>
                            <td>{{hit.cvss.severity}}</td>
                            <td>{{hit.published|date:"d.m.Y"}}</td>
                            <td>{{hit.meta.score}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator2.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12" >
                <a href="{{request.META.HTTP_REFERER|escape}}">Вернуться назад</a>
                <p>Вернуться к <a href="{% url 'vul_list' %}"> поиску бюлетеней</a>.</p>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}
