{% extends 'base.html' %}
{% load static %}

{% block title %} Перечень бюлетеней {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Поиск бюлетеней</li>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

    <h4 style="text-align: center;"> Описание бюлетеня</h4>

        <div class="row g-3 mt-1 mb-1">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Сводные данные</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">В формате json</a>
                </li>
              </ul>
        </div>
        <div class="row g-3 mt-1 mb-1">
            <div id="content-vul" class="col-md-auto col-sm-12 col-12 order-md-2 order-1">
                {% if vul_hit_id %}
                    <table class="table table-striped">
                        <tbody>
                            {% for key, value in vul_hit_id.items %}
                            <tr>
                                <td><p> {{ key }}: </p></td>
                                <td><p> {{ value }}  </p></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'paginator2.html' %}
                {% elif error %}
                    <strong class="fw-bold text-danger"> {{error}} </strong>
                {% else %}
                    <strong class="fw-bold"> Описание бюлетеня по индентификатору не найдено </strong>
                {% endif %}

            </div>
        </div>

    {% else %}
    {% endif %}
{% endblock %}
{% block footer %}
    <ul class="nav justify-content-center border-bottom ">
        <li class="nav-item"><a href="{{request.META.HTTP_REFERER|escape}}" class="nav-link px-2 text-body-secondary">Назад</a></li>
        <li class="nav-item"><a href="{% url 'audit_bul' %}" class="nav-link px-2 text-body-secondary">Аудит пакетов Linux</a></li>
    </ul>
{% endblock %}
