{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}

        {% block title %} Результат поиска {% endblock %}
        <div class="row g-3 mt-1 mb-1">
            <div id="content-bdu" class="col-md-auto col-sm-12 col-12 order-md-2 order-1">
                <table class="table table-striped">
                    <tbody>
                        {% for cve in object_list %}
                        <tr>
                            <td><h4><a href="{{cve.id}}">{{ cve.identifier }}</a></h4></td>
                            <td><p>{{ cve.name }}</p></td>
                            <td>{{ cve.identify_date|date:"d.m.Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator.html' %}
            </div>
        </div>
        <p>Вернуться к <a href="{% url 'home' %}"> списку уязвимостей</a>.</p>

    {% else %}

    {% endif %}
{% endblock %}
